.divform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
background: #444444c1;
  margin: auto;
  width: 100%;
  height: 504.63px;
  font-family: 'Rye', cursive;
}
.divform form {
  width: 80%;
}
.divnamenum {
  gap: 1rem;
}
.divnamenum input {
  width: 32.5%;
  height: 2.5rem;
}
.divnamenum h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.divnamenum p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.divmsg {
  width: 99%;
  resize: none;
  height: 200px;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enviar {
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  bottom: 15px;
  min-width: 50px;
  min-height: 20px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #fefeff;
  background: #f7f9f8;
  background: linear-gradient(90deg, rgb(9, 9, 9) 25%, rgb(117, 133, 14) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.827);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  font-family: 'Rye', cursive;
}

.enviar::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(75px + 12px);
  min-height: calc(20px + 12px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.enviar:hover,
.enviar:focus {
  color: #ffffff;
  transform: translateY(-6px);
}

.enviar:hover::before,
.enviar:focus::before {
  opacity: 1;
}

.enviar::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 6px solid #ffffff;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s backwards;
}

.enviar:hover::after,
.enviar:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
.hh1 h1{
  display: grid;
  align-items: center;
  justify-content: center;
}
@media (max-width:2600px){
  .divnamenum{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    
  }
  .hh1{
    font-size:25px;
  }
  .divform{
    
    width: 50%;
    
  }
}
@media (max-width:1520px){
  .divnamenum{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
  }
  .hh1{
    font-size: 15px;
  }
}
@media(max-width:900px){
  .divnamenum input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height:25px;
  }
}
@media (max-width:768px){
  .divform {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .divnamenum {
    font-size: 14px;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
  }

  .divnamenum input {
    width: 80%;
  }

  .divmsg {
    padding: 1%;
    font-size: 14px;
  }

  .enviar {
    font-size: 12px;
    padding: 9px;
  }
}
@media (max-width: 500px) {
  .divform {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .divnamenum {
    font-size: 14px;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
  }

  .divnamenum input {
    width: 80%;
  }

  .divmsg {
    padding: 1%;
    font-size: 14px;
  }

  .enviar {
    font-size: 12px;
    padding: 9px;
  }
}
