.divform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 504.63px;
  font-family: rye;
  font-weight: 100;
}
.divform form {
  width:90%;
  
}
input::-webkit-input-placeholder {
  color: rgb(147, 146, 147);
  font-family: 'Playfair Display', serif
}

input::-moz-placeholder {
  color: rgb(147, 146, 147);
  font-family: 'Playfair Display', serif
}

input:-ms-input-placeholder {
  color: rgb(147, 146, 147);
  font-family: 'Playfair Display', serif
}

input::-ms-input-placeholder {
  color: rgb(147, 146, 147);
  font-family: 'Playfair Display', serif
}
textarea::-webkit-input-placeholder {
  color: rgb(147, 146, 147);
  font-family: 'Playfair Display', serif
}

textarea::-moz-placeholder {
  color: rgb(147, 146, 147);
  font-family: 'Playfair Display', serif
}

textarea:-ms-input-placeholder {
  color: rgb(147, 146, 147);
  font-family: 'Playfair Display', serif
}

textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.778);
  font-family: 'Playfair Display', serif
}














.divnamenum {
  gap: 1rem;
  
}
  .divnamenum input {
    font-family: 'Playfair Display', serif;

  width: 32.5%;
  padding: 10px;
  background: rgb(16, 16, 16);
  color: white;
 border-radius: 5px;
 border: none;
 box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.556);
} 
.divnamenum input:hover{
  transition: 0.5s;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.556);
  background-color: #eaeaea;
  color: black;

}

.divmsg { 
  font-family: 'Playfair Display', serif;
  width: 99.8%;
  resize: none;
  height: 200px;
  background: rgb(16, 16, 16);
  overflow: hidden;
  border-radius: 5px;
  border: none;
  margin-top: 3%;
  margin-bottom: 2%;
  color: rgb(255, 255, 255);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.556);

}
.divmsg:hover{
  transition: 0.5s;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.556);
  background-color: #eaeaea;
  color: black;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divbutton{
  display: flex;
  justify-content: center;
}
.enviar {
  cursor: default;
  bottom: 15px;
  padding:8px;
  border: none;
  position: relative;
overflow: hidden;
border-radius: 2px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.556);
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #000000;
  height: fit-content;
 }
 
 .enviar::before {
  cursor: default;
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/907/598/non_2x/golden-metallic-background-free-photo.jpg");
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .enviar:hover::before {
  width: 100%;
 }
 
 .enviar:hover {
  cursor: default;
  color: #111;
 }

.hh1 h1{
  display: grid;
  align-items: center;
  justify-content: center;
  font-weight: 100;

}

@media (max-width:2600px){
  .divnamenum{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
  }
  .divnamenum input{
    font-size: 24px;

  }
  .hh1{
    font-size:26px;
  }
  .divform{
    font-size: 20px;
    height: 500px;
    width: 100%;
    
  }
  .divmsg{
    font-size: 24px;
    height: 180px;
  }
  
}
@media (max-width:1520px){
  .divnamenum{
    display: flex;
    justify-content:center;
    flex-direction:column;
    padding: 5px;
  }
  .hh1{
    font-size: 20px;
  
  }
  .divform form{
    width: 90%;
    height: 100%;
  }
  .divnamenum input{
    padding: 10px;
        width: 70%;
        font-size: 20px;
  }
  .divmsg{
    font-size: 20px;
    height: 27%;
  }
  .enviar{
    bottom: 1%;
  }
}
@media(max-width:1200px){
  .hh1{font-size: 15px;}
  .divmsg{
    height: 30%;}
    .enviar{
      bottom: 1%;
    }
}
@media(max-width:900px){
  .divnamenum input{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
 height: 25px;
padding: 8px;
    font-size: 16px;
  }
  .hh1{
    font-size: 13px;
  }
  
  .enviar{
    bottom: 10px;
  }
  .divmsg{
    height: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .divform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:768px){
  .divform {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
   
  }
  .divform form{
    width: 90%;
  }
.hh1{
  font-size: 18px;
 padding: 5px;
}
  .divnamenum {
    font-size: 14px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;
  }

  .divnamenum input {
    width: 50%;
  }

  .divmsg {
    display: flex;
    justify-content: center;
    font-size: 16px;
    overflow: hidden;
height: 150px;
margin: auto;
margin-bottom: 6%;
    width: 90%;
    
  }

  .enviar {
    top:-20px;
    font-size: 12px;
    padding: 9px;
  }
}
@media (max-width: 500px) {
  .divform {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .divnamenum {
    font-size: 14px;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
  }

  .divnamenum input {
    width: 80%;
  }

  .divmsg {
    padding: 1%;
    font-size: 14px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10%;
  }

  .enviar {
    font-size: 14px;
    padding: 9px;
    bottom:1%;
  }
  .hh1{
    font-size: 14px;
  }
}
