.LogoDiv{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;


        width: 100%;


}
.img{
    margin: auto;
    width: 15%;
}
.img1{
    margin: auto;
    width: 30%;
}

.doble{
    display: flex;
    flex-direction: column;
}
.button{
    margin: auto;
    display: flex;
    justify-content:end;
}
.general{
    width: 100%;
    margin: auto;
}



@media(min-width: 1920px){
.img{
width: 14%;
}
.img1{
    width: 30%;
}
.LogoDiv{
    width: 100%;
}
}

@media(max-width: 1280px){
.img{
    width: 20%;
}
.img1{
    width: 35%;
}
.LogoDiv{
    width: 100%;
}
}

@media(max-width: 768px){
.img{
    width: 25%;
}
.img1{
    width: 40%;
}
}

@media(max-width: 500px){
.img{
width: 29%;
}
.img1{
    width: 49%;
}
.general{border-bottom: 2px solid 	#D4AF37;}
.LogoDiv{
    width: fit-content;
}
}






