.LogoDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    padding: 10px;
}
.img{
    
    width: 15%;
}
.img1{
    width: 30%;
}

.doble{
    display: flex;
    flex-direction: column;
}
.button{
    margin: auto;
    display: flex;
    justify-content:end;
}



@media(min-width: 1920px){
.img{
width: 14%;
}
.img1{
    width: 30%;
}
}
@media(max-width: 1280px){
.img{
    width: 20%;
}
.img1{
    width: 35%;
}
}

@media(max-width: 768px){
.img{
    width: 25%;
}
.img1{
    width: 40%;
}
}

@media(max-width: 500px){
.img{
width: 30%;
}
.img1{
    width: 50%;
}
.general{border-bottom: 2px solid 	#D4AF37;}
}






