.container{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    background-image: url("https://i.imgur.com/Sy1HS35.png");
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 15px 10px rgb(20, 19, 20);;
}
.general{
    margin: auto;
    width: 70%;
    text-align: center;
}
.general h1{
    font-family: Rye;
    font-weight: 100;
    font-size: 300%;
}
.general p{
    margin: auto;
    width: 70%;
    font-size: 150%;
}


@media (max-width:500px){
    .general h1{
        font-size: 140%;
    }
    .general p{
        width: 100%;
        font-size: 100%;
    }
}