.general{

    padding: 10px;
    

    
}
.img{
   border-radius: 5px;
    height: 350px;

}
.swiper{
margin: auto;


}


@media (min-width:2500px) {
    .img{
        height: 500px;
        width: 500px;
    }
}
@media(max-width:2499px){
    .img{
        width: 400px;
        height: 400px;
    }
}
@media (max-width:1800px) {
    .img{
        height: 350px;
        width: 350px;

    }
}
@media (max-width:1250px) {
    .img{
        height: 220px;
        width: 220px;
    }
}
@media (max-width:800px) {
    .img{
        height: 180px;
        width: 180px;
    }
}
@media (max-width:500px) {
    .img{
        height:180px;
        width: 180px;
   }
}