
.general{

    padding: 10px;
    

    
}
.img{
   border-radius: 5px;
    height: 350px;

}
.swiper{
margin: auto;


}


@media (min-width:2500px) {
    .img{
        height: 650px;
    }
}
@media (max-width:1900px) {
    .img{
        height: 550px;
    }
}
@media (max-width:1200px) {
    .img{
        height: 400px;
    }
}
@media (max-width:800px) {
    .img{
        height: 300px;
    }
}
@media (max-width:500px) {
    .img{
        height:250px;
   }
}