.divgral{
    font-size: 50px;
     height: 100%;
   width: 50%;
  display: flex;
align-items: center;
justify-content: center;    
}
.wsp{
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: rgb(37 211 102);
  color:white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index: 100;
}
.wsp:hover{
  text-decoration: none;
  color:rgb(37 211 102);
  background: white;
}
.fa{
  position: relative;
  background: white;
  color:rgb(66 103 178);
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index: -10;
  left: 50%;
}
.fa:hover{
  text-decoration: none;
  color:white;
  background: rgb(66 103 178);
}
.in{
  right: 50%;
  position: relative;
  color:black;
  background:radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  border-radius: 30%;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index: -10;
}
.in:hover{
  text-decoration: none;
  color:white;
  background:radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
}
@media (max-width:2600px){
  
}

@media(min-width: 1280px){

}
@media(max-width: 500px){
  .divgral{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    
  }
  .fa{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction:column;
   
  }
  .in{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction:column;
   right:10px;
  }
  .wsp{
    
    bottom: 10px;
    right: 10px;
  }
}